.cell {
    position: relative;
    /*display: flex;*/
}

.columns {
    position: relative;
    display: flex;
    border: 1px solid white;
    padding: 5px;
    /*max-width: 960px;*/
    /*margin: 0 auto;*/
}

.cell:hover .columns,
.cell.active .columns {
    border: 1px solid #ccc;
}

.grip {
    flex-direction: column;
    flex-grow: 0;
    display: flex;
}

.gripHandle {
    visibility: hidden;
    height: 100%;
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    width: 2px;
    margin: 0px 5px;
}

.editor {
    flex-direction: column;
    flex-grow: 1;
    flex: 1 1 auto;
    /*min-width: 950px;*/
}


.addCell {
    visibility: hidden;
    display: block;
    position: absolute;
    right: -2.5em;
    z-index: 100;
}

.addCellBefore {
    top: 0px;
}

.addCellAfter {
    bottom: 0px;
}

.cell::after {
    content: " ";
    right: -2.5em;
    top: 0px;
    width: 2.5em;
    height: 100%;
    position: absolute;
}

.cell:hover .addCell {
    visibility: visible;
}

.cell:hover .gripHandle,
.cell.active .gripHandle {
    visibility: visible;
}

.loading {
    opacity: 0.8;
}

/* Actions */
.actions {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
}

.actions button {
    display: inline-block;
    visibility: hidden;
}

.cell:hover .actions button,
.cell.active .actions button {
    visibility: visible;
}

.buttonColor {
    color: rgb(100, 100, 100);
}

/* Editor */
.mirror {
    /*transition: max-height 0.5s;*/
    overflow: hidden;
    z-index: 0;
}

.mirrorActive {
    max-height: 1000px;
}

.mirrorInactive {
    max-height: 0em;
}

/* Result */
.result {
    margin-left: 30px;
    position: relative;
}

.result img {
    width: 100%;
}

.resultContainer {
    width: 100%;
}

.error {
    color: #c0392b;
}