@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  font-family: "Open Sans";
  height: 100%;
}

.CodeMirror {
  height: auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

.contents {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 100%;
}

.leftpane {
  flex-grow: 4;
  flex-basis: 0;
}

.pane {
  flex-grow: 1;
  flex-basis: 0;
}